In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
import numpy as np
categorical = df.select_dtypes(include = object)
categorical

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [16]:
categorical['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [18]:
gp = df.groupby('Species')

In [19]:
gp.groups.keys()

dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])

In [32]:
gp.agg(['mean', 'median', pd.Series.mode, 'var', 'min', 'max', 'std'])

/tmp/ipykernel_5427/1078669525.py:1: FutureWarning: ['Id', 'SepalLengthCm'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  gp.agg(['mean', 'median', pd.Series.mode, 'var', 'min', 'max', 'std'])

                SepalWidthCm                                            \
                        mean median mode       var  min  max       std
Species
Iris-setosa            3.418    3.4  3.4  0.145180  2.3  4.4  0.381024
Iris-versicolor        2.770    2.8  3.0  0.098469  2.0  3.4  0.313798
Iris-virginica         2.974    3.0  3.0  0.104004  2.2  3.8  0.322497

                PetalLengthCm              ...                      \
                         mean median mode  ...  min  max       std
Species                                    ...
Iris-setosa             1.464   1.50  1.5  ...  1.0  1.9  0.173511
Iris-versicolor         4.260   4.35  4.5  ...  3.0  5.1  0.469911
Iris-virginica          5.552   5.55  5.1  ...  4.5  6.9  0.551895

                PetalWidthCm
                        mean median mode       var  min  max       std
Species
Iris-setosa            0.244    0.2  0.2  0.011494  0.1  0.6  0.107210
Iris-versicolor        1.326    1.3  1.3  0.039106  1.0  1.8  0.197753
Iris-virginica         2.026    2.0  1.8  0.075433  1.4  2.5  0.274650

[3 rows x 21 columns]